body {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  flex-grow: 9.5;
  padding: 10px;
  padding-left: 20px;
}

hr {
  border-top: #3d3d3d;
}

.side {
  flex-grow: 0.5;
  padding: 20px;
  border-right: 1px solid black;
}

/* Styling Links */
a:link,
a:visited {
  color: #3d3d3d;
  text-decoration: none;
}

a:hover {
  color: #a1a1a1;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

/* Profile */
/* Image */
.profile-image {
  width: 200px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Name */
.profile-name {
  margin-bottom: 0px;
}

/* Formation */
.formation-item {
  padding-left: 20px;
}

.formation-item > h3 {
  margin-bottom: 10px;
}

.formation-item > p {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Publications */
.publication-item {
  padding-left: 20px;
}

.publication-item > h3 {
  margin-bottom: 10px;
}

.publication-item > p {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Research */
.research-item {
  padding-left: 20px;
}

.research-item > h3 {
  margin-bottom: 10px;
}

.research-item > p {
  margin-top: 10px;
  margin-bottom: 10px;
}