body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 818px) {
  body {
    display: flex;
    align-items: stretch;
  }
  
  .main {
    flex-grow: 9.5;
    padding: 10px;
    padding-left: 20px;
  }
  .side {
    flex-grow: 0.5;
    padding: 20px;
    border-right: 1px solid black;
  }
}

hr {
  border-top: #3d3d3d;
}

/* Styling Links */
a:link,
a:visited {
  color: #3d3d3d;
  text-decoration: none;
}

a:hover {
  color: #a1a1a1;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

/* Side Bar */

/* Side Name */
.side-name {
  margin-bottom: 0px;
  text-align: center;
}

/* Side Menu */
.side-menu {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.side-menu li {
  padding: 0px;
  border-bottom: 1px solid #ddd;
  transition-duration: 0.5s;
}

.side-menu li:last-child {
  border-bottom: none
}

.side-menu li:hover {
  text-decoration: none;
  background-color: #6e6e6e;
  transition-duration: 0.5s;
}

.side-menu li:hover > a:link, 
.side-menu li:hover > a:visited {
  display:inline-block;
  color: #ffffff;
  text-decoration: none;
  transition-duration: 0.5s;
}

.side-menu li a {
  padding: 8px 16px; 
  display: block; 
  width: 100%; 
  height: 100%; 
}


/* Profile */
/* Image */
.profile-image {
  width: 200px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Name */
.profile-name {
  margin-bottom: 0px;
  text-align: center;
}

/* Formation */
.formation-item {
  padding-left: 20px;
}

.formation-item > h3 {
  margin-bottom: 10px;
}

.formation-item > p {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Publications */
.publication-item {
  padding-left: 20px;
}

.publication-item > h3 {
  margin-bottom: 10px;
}

.publication-item > p {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Research */
.research-item {
  padding-left: 20px;
}

.research-item > h3 {
  margin-bottom: 10px;
}

.research-item > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* About */
.about-item {
  padding-left: 20px;
}

.about-item > h3 {
  margin-bottom: 10px;
}

.about-item > p {
  margin-top: 10px;
  margin-bottom: 10px;
}
